/*Variables*/

$mobile-width: 550px;
$tablet-width: 755px;



/*Mixins - media queries*/

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    #main-header {
        font-family: helvetica;
        font-size: 20px;
        span {
            color: lightblue;
            font-style: italic;
        }
    }
    #form-container {
        #search-box {
            width: 300px;
        }
        #submit-btn {
            width: 60px;
        }
    }
}

#nyt-container {
    width: 700px;
    padding: 10px;
    margin-right: 200px;
    .article-list {
        margin: 0;
        padding: 0;
    }
    .article {
        list-style-type: none;
        padding: 10px 0;
        border-bottom: 1px solid black;
    }
    .article-url {
        font-size: 18px;
    }
}

@include mobile {
    #nyt-container {
        width: 95% !important;
        margin: 0 auto !important;
    }
}

@include tablet {
    header {
        width: 98% !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center !important;
    }
}
