/*Variables*/

$tablet-width: 750px;


/*Mixins - media queries*/

@mixin tablet {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet-plus {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    #main-header {
        font-family: helvetica;
        font-size: 20px;
        span {
            color: lightblue;
            font-style: italic;
        }
    }
    #form-container {
        #search-box {
            width: 300px;
            padding-left: 10px;
        }
        #submit-btn {
            width: 60px;
        }
    }
}

#nyt-container {
    width: 700px;
    padding: 10px;
    margin-right: 200px;
    #nyt-header {
        font-family: sans-serif;
        padding: 1px 15px;
    }
    .article-list {
        margin: 0;
        padding: 0;
    }
    .article {
        list-style-type: none;
        padding: 10px 0;
        border-bottom: 1px solid black;
    }
    .article-url {
        font-size: 18px;
    }
}

@include tablet {
    #nyt-container {
        width: calc(100% - 20px) !important;
        margin: 0 auto !important;
    }
}

@include tablet-plus {
    header {
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center !important;
    }
}
