body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    #main-header {
        font-family: helvetica;
        span {
            color: lightblue;
            font-style: italic;
        }
    }
}
